#experience-section {
  padding: 80px 15px;
}

#experience-section .large-title {
  color: #c6e4ff;
  font-weight: 900;
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
}

#experience-section .experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#experience-section .experience-container .large-icons .experience-square {
  border: 30px solid #52b8ff;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: -100px;
  left: 150px;
}

#experience-section
  .experience-container
  .large-icons
  .experience-square
  .blue-square {
  padding: 20px;
  width: 150px;
  height: 150px;
  background: #52b8ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#experience-section .experience-container .large-icons .work-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 230px 150px;
  border-color: transparent transparent #ff5253 transparent;
  position: relative;
  left: 130px;
}

#experience-section
  .experience-container
  .large-icons
  .work-triangle
  .red-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 93.75px 151.75px 93.75px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: -94px;
  top: 49px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff5253;
}

#experience-section
  .experience-container
  .large-icons
  .work-triangle
  .red-triangle
  .triangle-text {
  position: relative;
  top: 98px;
  right: 30px;
}
#experience-section .experience-container .large-icons .awards-circle {
  border: 30px solid #ffc583;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: 200px;
  top: 95px;
}

#experience-section
  .experience-container
  .large-icons
  .awards-circle
  .orange-circle {
  color: #ffc583;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

#experience-section .experience-container .experience-info {
  padding: 80px 0;
}

#experience-section .experience-container .experience-info .info-box {
  padding: 15px;
}

#experience-section .experience-container .experience-info .info-box h4 {
  color: #16171b;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#experience-section .experience-container .experience-info .info-box .date {
  color: #52b7ff;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 20px 0;
  display: block;
}

#experience-section .experience-container .experience-info .info-box p {
  color: #b2b2b4;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.8;
}
