#footer {
  padding: 80px 15px;
  background: #f9fafc;
}

#footer .container {
  text-align: center;
}

#footer .container .social-container {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#footer .container .social-container .fab {
  color: #929294;
  margin-right: 25px;
  transition: all 0.2s ease-in-out;
}

#footer .container .social-container .fab:hover {
  color: rgba(255, 53, 53, 0.8);
  transform: scale(1.2);
}

#footer .container .personal-info h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

#footer .container .personal-info h6 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

/* TABLETS */
@media only screen and (max-width: 960px) {
}

/* PHONES */
@media only screen and (max-width: 767px) {
}
