@import "/css/reset.css";
@import "/css/top_section.css";
@import "/css/services_section.css";
@import "/css/portfolio_section.css";
@import "/css/experience_section.css";
@import "/css/blog_section.css";
@import "/css/testimonial_section.css";
@import "/css/footer_section.css";

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* TABLET */
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

/* PHONES */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
