@import "/css/reset.css";
@import "/css/top_section.css";
@import "/css/services.css";
@import "/css/portfolio_section.css";
@import "/css/experience-section.css";

.container {
  max-width: 1400px;
  margin: 0 auto;
}
