@import "/css/reset.css";
@import "/css/nav_bar.css";
@import "/css/top_section.css";
@import "/css/services_section.css";
@import "/css/portfolio_section.css";
@import "/css/experience_section.css";
@import "/css/blog_section.css";
@import "/css/testimonial_section.css";
@import "/css/footer_section.css";

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* NAVIGATION BAR */
header {
  padding: 20px;
  display: grid;
  position: relative;
}
header .logo {
  background: url("/img/kevin-logo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

header .header-menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

header .header-menu a {
  margin-right: 25px;
  text-decoration: none;
  color: #000;
  letter-spacing: 1.2px;
  transition: all 0.2s ease-in-out;
}

header .header-menu a:hover {
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 53, 53, 0.8);
}

header .menu-btn {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none;
  cursor: pointer;
}

/* TABLET */
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

/* PHONES */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  header .logo {
    margin: 0 auto;
  }

  header .header-menu {
    display: none;
  }

  header .menu-btn {
    display: block;
  }
}
