#testimonials {
  padding: 80px 15px;
}

#testimonials .title {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#testimonials .title .square {
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}

#testimonials .title h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  position: relative;
  letter-spacing: 4px;
}

#testimonials .testimonial-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-gap: 10px;
  padding-top: 100px;
}

#testimonials .testimonial-container .test-center {
  background: #fff;
  padding: 60px;
  box-shadow: 10px 5px 5px #c6e4ff;
}

#testimonials .testimonial-container .test-center .header {
  display: flex;
  padding-bottom: 50px;
}

#testimonials .testimonial-container .test-center p {
  color: #929294;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

#testimonials .testimonial-container .test-center .header .user-img {
  width: 200px;
}

#testimonials .testimonial-container .test-center .header .user-img img {
  width: 100%;
}

#testimonials .testimonial-container .test-center .header .info-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}

#testimonials .testimonial-container .test-center .header .info-title h4 {
  color: #13161d;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#testimonials .testimonial-container .test-center .header .info-title span {
  color: #929294;
}

#testimonials .testimonial-container .test-sides {
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonials .testimonial-container .test-sides .person-img {
  width: 100%;
  height: 80%;
}

#testimonials .testimonial-container .test-sides .person-img .hover-bg {
  background: rgba(255, 53, 53, 0);
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#testimonials .testimonial-container .test-sides:hover .person-img .hover-bg {
  background: rgba(255, 53, 53, 0.8);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#testimonials .testimonial-container .test-sides .person-img .hover-bg .name {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  transform: translate3d(0, 40%, 0);
  opacity: 0;
}

#testimonials
  .testimonial-container
  .test-sides:hover
  .person-img
  .hover-bg
  .name {
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* TABLETS */
@media only screen and (max-width: 960px) {
  #testimonials .title h1 {
    font-size: 2.8rem;
  }

  #testimonials .testimonial-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-gap: 0;
    padding-top: 100px;
  }

  /* PHONES */
  @media only screen and (max-width: 767px) {
    #testimonials .testimonial-container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 100px 1fr;
      grid-gap: 0;
      padding-top: 100px;
    }

    #testimonials .testimonial-container .test-left {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    #testimonials .testimonial-container .test-right {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    #testimonials .testimonial-container .test-center {
      grid-column: 1 / 3;
      grid-row: 2 / 2;
      padding: 20px;
    }

    #testimonials .testimonial-container .test-center .header .info-title h4 {
      font-size: 12px;
    }

    #testimonials .testimonial-container .test-center p {
      font-size: 1rem;
  }
}
